<div class="parallax">
  <div class="parallax__layer parallax__layer__0">
    <img src="/assets/travel-guide/italy/montanas-fondo.svg" />
  </div>
  <div class="parallax__layer parallax__layer__1">
    <img src="/assets/travel-guide/italy/montanas-intermedias.svg" />
  </div>
  <div class="parallax__layer parallax__layer__2">
    <img src="/assets/travel-guide/italy/montanas-proximas.svg" />
  </div>
  <div class="parallax__layer parallax__layer__3">
    <img src="/assets/travel-guide/italy/montanas-cercanas.svg" />
  </div>
  <div class="parallax__layer parallax__layer__4">
    <img src="/assets/travel-guide/italy/casa.svg" />
  </div>
  <div class="parallax__layer parallax__layer__5">
    <img src="/assets/travel-guide/italy/campo.svg" />
  </div>
  <div class="parallax__layer parallax__layer__6">
    <img src="/assets/travel-guide/italy/arbustos.svg" />
  </div>
  <div class="parallax__cover">
    <div>
      <h1>Prueba</h1>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <br>
      <h1>Prueba</h1>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <br>
      <h1>Prueba</h1>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <br>
      <h1>Prueba</h1>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <br>
      <h1>Prueba</h1>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
      <p>Hola adiós</p>
    </div>
  </div>
</div>