<div class="parallax">
  <div class="parallax__layer parallax__layer__0">
    <img src="/assets/travel-guide/italy/montanas-fondo.svg" />
  </div>
  <div class="parallax__layer parallax__layer__1">
    <img src="/assets/travel-guide/italy/montanas-intermedias.svg" />
  </div>
  <div class="parallax__layer parallax__layer__2">
    <img src="/assets/travel-guide/italy/montanas-proximas.svg" />
  </div>
  <div class="parallax__layer parallax__layer__3">
    <img src="/assets/travel-guide/italy/montanas-cercanas.svg" />
  </div>
  <div class="parallax__layer parallax__layer__4">
    <img src="/assets/travel-guide/italy/casa.svg" />
  </div>
  <div class="parallax__layer parallax__layer__5">
    <img src="/assets/travel-guide/italy/campo.svg" />
  </div>
  <div class="parallax__layer parallax__layer__6">
    <img src="/assets/travel-guide/italy/arbustos.svg" />
  </div>
  <div class="parallax__cover">
    <section>
      <h2 class="section-name">Italia en 10 días</h2>
      <div class="section-content">
        <div class="content">
          <h3>Día 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 2</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 3</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 4</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 5</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 6</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 7</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 8</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 9</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
          <hr>
          <h3>Día 10</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus mi. Quisque vel purus
            vestibulum, mollis erat at, egestas mi. Pellentesque faucibus, nulla nec luctus consectetur, nunc
            nisi tristique diam, et imperdiet enim leo id turpis. Nulla lectus libero, suscipit a massa sed,
            vestibulum rutrum lacus. Curabitur a ultricies nisi, eget ultricies magna. Phasellus mollis massa
            risus, semper accumsan nulla cursus at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <p>
            Etiam sodales felis at neque interdum, sed convallis metus vehicula. Mauris aliquam tellus eu arcu
            mattis mattis. Donec dolor libero, maximus ac semper sit amet, maximus nec justo. In vel neque
            bibendum, porta orci ac, auctor neque. Nulla et consequat mauris. Nulla vel purus sollicitudin,
            ultricies elit tristique, iaculis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Nam vitae tortor ut sem blandit tempus et eu felis. Nulla hendrerit eu ante quis luctus. Maecenas et
            sodales augue, non egestas ante.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>