<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <form>
        <input #country (input)="searchCountry(country.value)" placeholder="Buscar país...">
      </form>
      <ul class="menu">
        <li [class.selected]="isActiveContinent(continent)" 
            *ngFor="let continent of continents" 
            (click)="updateContinent(continent)">
          {{continent.name}}
        </li>
      </ul>
  </mat-sidenav>
  <mat-sidenav-content [@filterAnimation]="countriesDisplayed">
    <h2 *ngIf="selectedContinent">{{ selectedContinent.name | uppercase}}</h2>
    <mat-grid-list cols="3" rowHeight="4:3" gutterSize="5px">
      <mat-grid-tile *ngFor="let country of getFilteredCountries()">
        <mat-card class="country-miniature" routerLink="{{ country.url }}">
          <img *ngIf="country.src" [src]="country.src" mat-card-image>
          <mat-card-content>
            <span>{{ country.name }}</span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <span *ngIf="!getFilteredCountries()?.length">No hay resultados de búsqueda</span>
  </mat-sidenav-content>
</mat-sidenav-container>
