<div class="continents-area">
	<aside class="side-area">
		<form>
			<input #country (input)="searchCountry(country.value)" placeholder="Buscar país...">
    </form>
    <ul class="menu">
      <li [class.selected]="isActiveContinent(continent)" 
          *ngFor="let continent of continents" 
          (click)="updateContinent(continent)">
        {{continent.name}}
      </li>
    </ul>
  </aside>

  <section class="countries-area">
    <h2 *ngIf="selectedContinent">{{ selectedContinent.name | uppercase}}</h2>
    <li [class.selected]="isActiveCountry(country)" 
        *ngFor="let country of getFilteredCountries()" 
        (click)="onSelectCountry(country)"
        class="country-miniature">
      <span>{{ country.name }}</span>
    </li>
    <span *ngIf="!getFilteredCountries()?.length">No hay resultados de búsqueda</span>
    <hr>
    <div *ngIf="selectedCountry">
      <h1>País seleccionado:</h1>
      <app-country-page [country]="selectedCountry"></app-country-page>
    </div>
  </section>
</div>