<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <form>
        <input #country (input)="searchCountry(country.value)" placeholder="Buscar país...">
      </form>
      <ul class="menu">
        <li [class.selected]="isActiveContinent(continent)" 
            *ngFor="let continent of continents" 
            (click)="updateContinent(continent)">
          {{continent.name}}
        </li>
      </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <h2 *ngIf="selectedContinent">{{ selectedContinent.name | uppercase}}</h2>
    <mat-card *ngFor="let country of getFilteredCountries()" 
        class="country-miniature">
      <img mat-card-image>
      <mat-card-content>
        <a routerLink="{{ country.url }}">
          <span>{{ country.name }}</span>
        </a>
      </mat-card-content>
    </mat-card>
    <span *ngIf="!getFilteredCountries()?.length">No hay resultados de búsqueda</span>
  </mat-sidenav-content>
</mat-sidenav-container>
