.mat-sidenav-container {
  min-height: 200px;
}

.mat-sidenav-content {
  height: auto;
}

.mat-sidenav {
  background-color: #ddd;
  padding: 10px;
}

input {
  width: 100%;
}

.country-miniature {
  width: 25%;
  height: 60px;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;

  &:hover {
    background-color: #0f0;
  }
}