<div class="main-container">
    <div class="app-header">
        <mat-toolbar color="primary" class="app-toolbar" #spacer>
            <span routerLink="/">TravelApp</span>
            <span class="toolbar-spacer"></span>
            <ul class="social-links">
                <li>
                    <a>
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </mat-toolbar>
        <nav class="app-menu" stickyThing>
            <ul class="main-menu">
                <li class="menu-item">
                    <a id="home" routerLink="/">Inicio</a>
                </li>
                <li class="menu-item">
                    <a id="countries" routerLink="/countries">Destinos</a>
                </li>
                <li class="menu-item">
                    <a id="country" routerLink="/countries/spain">España</a>
                </li>
                <li class="menu-item">
                    <a id="travel-guide" routerLink="/travel-guide">Guía de Viaje</a>
                </li>
                <li class="menu-item">
                    <mat-slide-toggle color="primary" (change)="toggleAnimations()" [checked]="!animationsDisabled"></mat-slide-toggle>
                </li>
            </ul>
        </nav>
    </div>
    <main [@routeAnimations]="prepareRouteAnimation(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </main>
    <mat-toolbar color="secundary" class="app-footer">
        <span>© 2019 Todos los derechos reservados.</span>
    </mat-toolbar>
</div>