.main-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;

  main {
    position: relative;
    min-height: 600px;
  }
}

p {
  font-family: Lato;
}

nav a {
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.app-footer {
  font-size: 1rem;
}