.country-image {
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.country-name {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;

    h3 {
        margin: 0;
        font-size: 12rem;
        color: white;
        font-variant: all-small-caps;
        text-shadow: 7px 7px rgba(0, 0, 0, 0.25);
    }
}

.introduction {
    .section-name {
        margin: 4rem 0;
    }

    .introduction-title {
        font-weight: normal;
        color: #676b6f;
    }

    .introduction-text {
        margin: 3rem 0;
        overflow: hidden;
    }

    .introduction-expanded-link {
        width: 150px;
        padding-top: 2rem;
        margin: 0 auto;
        border-top: 2px solid #c5c6c7;
        text-align: center;

        a {
            text-transform: uppercase;
            font-weight: bold;
            color: #f75c69;
            cursor: pointer;

            i {
                margin-left: 10px;
            }
        }
    }
}
