/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import "./styles/_components";

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}