<div class="app-logo">
  <div class="animate-logo">
    <i class="fas fa-globe-europe"></i>
    <h1>Travel App</h1>
  </div>
</div>
<div class="content">
  <section>
    <h2 class="section-name">Últimos Viajes</h2>
    <div class="section-content flex">
      <div class="left-article">
        <article class="entry-article">
          <a class="entry-image" routerLink="/countries/brazil">
            <span class="entry-title">
              Brasil
              <span>- Sudamérica -</span>
            </span>
          </a>
        </article>
      </div>
      <div class="right-articles">
        <div>
          <article class="entry-article">
            <a class="entry-image" routerLink="/countries/spain">
              <img src="/assets/countries/spain_small.jpg">
            </a>
            <div class="entry-content">
              <header class="entry-header">
                <a routerLink="/countries/spain">España</a>
                <span>- Europa -</span>
              </header>
              <div class="entry-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id ante orci. Vivamus aliquam
                  rhoncus
                  diam.
                  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec
                  condimentum justo risus, a mollis diam posuere ac... <a routerLink="/countries/spain">Ver más</a>
                </p>
              </div>
            </div>
          </article>
          <article class="entry-article">
            <a class="entry-image" routerLink="/countries/japan">
              <img src="/assets/countries/japan_small.jpg">
            </a>
            <div class="entry-content">
              <header class="entry-header">
                <a routerLink="/countries/japan">Japón</a>
                <span>- Asia -</span>
              </header>
              <div class="entry-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id ante orci. Vivamus aliquam
                  rhoncus
                  diam.
                  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec
                  condimentum justo risus, a mollis diam posuere ac... <a routerLink="/countries/japan">Ver más</a>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="section-name">Próximo Destino</h2>
    <div class="section-content">
      <a class="next-destiny">
        <span class="destination-name">
          Alemania
          <span>- Europa -</span>
        </span>
        <span class="destination-info">
          Más información
        </span>
      </a>
    </div>
  </section>
  <section>
    <h2 class="section-name">Guías de Viaje</h2>
    <div class="section-content">
      <article class="entry-article">
        <a class="entry-image" routerLink="/travel-guide">
          <img src="/assets/countries/italy_small.jpg">
        </a>
        <div class="entry-content">
          <header class="entry-header">
            <a routerLink="/travel-guide">Italia en 10 días</a>
            <span>- Europa -</span>
          </header>
          <div class="entry-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id ante orci. Vivamus aliquam rhoncus
              diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec
              condimentum justo risus, a mollis diam posuere ac. Fusce efficitur condimentum elementum. Maecenas in
              augue id massa cursus bibendum. Maecenas urna quam, placerat at ullamcorper non, ultrices sed augue.
              Nulla rhoncus purus tellus, ac molestie tortor tincidunt ut...
              <a class="block" routerLink="/travel-guide">Continuar leyendo</a>
            </p>
          </div>
        </div>
      </article>
      <article class="entry-article">
          <a class="entry-image" routerLink="/countries/new-zealand">
            <img src="/assets/countries/new-zealand_small.jpg">
          </a>
          <div class="entry-content">
            <header class="entry-header">
              <a routerLink="/countries/new-zealand">Nueva Zelanda en 21 días</a>
              <span>- Oceanía -</span>
            </header>
            <div class="entry-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id ante orci. Vivamus aliquam rhoncus
                diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec
                condimentum justo risus, a mollis diam posuere ac. Fusce efficitur condimentum elementum. Maecenas in
                augue id massa cursus bibendum. Maecenas urna quam, placerat at ullamcorper non, ultrices sed augue.
                Nulla rhoncus purus tellus, ac molestie tortor tincidunt ut...
                <a class="block" routerLink="/countries/new-zealand">Continuar leyendo</a>
              </p>
            </div>
          </div>
        </article>
    </div>
  </section>
</div>